@import '../../../assets/scss/config.scss';
._home_page_banner{
    line-height: 0;
    &_slider{
        position: relative;
        overflow: hidden;
        &_content{
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 100px;
    h4 {
        
        text-transform: capitalize;
        line-height: 1;
        font-size: 30px;
        color: #939b9e;
        font-weight: 400;
        padding-bottom: 20px;
      }
      h1 {
        font-size: 72px;
        line-height: 1;
        color: var(--theme-color-1);
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 2px;
        span{
            color: var(--theme-color-2);
            text-transform: capitalize;
            margin-left: 17px;
        }
      }
      h2 {
        text-transform: capitalize;
        line-height: 1;
        font-size: 36px;
        color: $black;
        padding-bottom: 15px;
      }
      .btn-normal {
        padding: 17px 35px;
        font-size: 18px;
      }
        }
        ._slider_img {
            height: 495px;
            background-color: #d3ecf3;
            overflow: hidden;
            ._home_page_slide_center{
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-align: center !important;
                -ms-flex-align: center !important;
                align-items: center !important;
                height: 100% !important;
            }
          }
          ._banner_layout_slide_1{
            li {
                position: absolute;
                bottom: -30px;
                left: -50px;
                &:nth-child(2) {
                    right: 60px;
                    left: unset;
                  }
              }
          }
          ._banner_layout_slide_2{
            li {
                position: absolute;
                left: 50px;
                &:nth-child(2) {
                    right: 20px;
                    left: unset;
                  }
              }
          }
          ._banner_layout_slide_3{
            li{
                position: absolute;
                bottom: -30px;
                left: -50px;
                &:nth-child(2) {
                    right: 100px;
                    bottom: -20px;
                    left: unset;
                  }
            }
          }
    }
}



@media (max-width: 1366px) {
    ._home_page_banner{
      &_slider{
        ._banner_layout_slide_3{
          li{
            &:nth-child(2) {
              right: 100px;
              bottom: -90px;
              left: unset;
            }
          }
        }
        ._banner_layout_slide_1
          li:nth-child(2)
          img,._banner_layout_slide_2
          li:nth-child(2)
          img, ._banner_layout_slide_3
          li:nth-child(2)
          img{
            margin: 0 0 0 auto;
          }
          div{
            li{
              img{
                width: 60%;
              }
            }
          }
          ._slider_img {
            height: 400px;
          }
      }
    }
  }
  @media (max-width: 1200px) {
      //banner

  ._home_page_banner{
    &_slider{
    
        ._slider_img {
          height: 400px;
        }
        &_content{
          padding: 0 70px;
          h4 {
            font-size: 20px;
          }
          h1 {
            font-size: 45px;
            padding-bottom: 5px;
          }
          h2 {
            font-size: 25px;
          }
        }
    }
  }
  }
  @media (max-width: 991px) {
      /// banner
  ._home_page_banner{
    &_slider{
      ._slider_img {
        height: 250px;
      }
    &_content{
      h1 {
        font-size: 30px;
        span {
          margin-left: 5px;
        }
      }
      h4 {
        font-size: 16px;
        padding-bottom: 15px;
      }
      h2 {
        font-size: 20px;
      }
      .btn-normal {
        padding: 10px 20px;
      }
    }
       div{
        li{
          img{
            width: 50%;
          }
        }
       }
       ._banner_layout_slide_1
       li:nth-child(2) {
       right: 20px;
       left: unset;
       top: 0;
     }
     ._banner_layout_slide_3
     li:nth-child(2) {
     right: 30px;
   }
    }
  }
  }
  @media (max-width: 767px) {
      //banner

  ._home_page_banner{
    &_slider{
      
      ._slider_img {
        height: 250px;
      }
      &_content{
        padding: 0 40px;
        h4 {
          font-size: 14px;
        
        }
        h1 {
          font-size: 30px;
         
        }
        h2 {
          font-size: 16px;
        
        }
      } 
       ._banner_layout_slide_1 {
        li {
          left: -120px;
          &:nth-child(2) {
            right: -50px;
          }
        }

       }
       ._banner_layout_slide_2 {
        li {
          left: -50px;
          &:nth-child(2) {
            right: -60px;
          }
        }

       }
       ._banner_layout_slide_3 {
        li {
          left: -100px;
          &:nth-child(2) {
            right: -30px;
          }
        }

       }
    }
  }
  }
  @media (max-width: 575px) {
    /// banner
._home_page_banner{
  &_slider{
    ._banner_layout_slide_1 {
      li {
        left: -170px;
        &:nth-child(2) {
          right: -160px;
        }
      }
    }
  }
}
  }

  @media (max-width: 480px) {
    ._home_page_banner{
      &_slider{
        
        ._slider_img {
          height: 200px;
        }
        &_content{
          padding: 0 25px;
          h4 {
            font-size: 16px;
            padding-bottom: 15px;
          }
          h1 {
            font-size: 20px;
            padding-bottom: 5px;
          }
          h2 {
            font-size: 14px;
            padding-bottom: 15px;
          }
        } 
        
       
      }
    }
  }  