<!--discount banner start-->
<section class="_discount_banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="_discount_banner_wrapper">
            <h2>Discount on every single item on our site.</h2>
            <h1><span>OMG! Just Look at the</span> <span>great Deals!</span></h1>
            <div class="_discount_banner_round">
              <div class="_discount_banner_sub_round">
                How does it feel, when you see great discount deals for each product?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--discount banner end-->
  
  
  
  
  
  <!--collection banner start-->
  <section class="_advertise_banner">
    <div class="custom-container">
      <div class="row">
        <div class="col">
          <div class="_advertise_banner_wrapper banner-5 p-center">
            <div class="_advertise_img">
            </div>
            <div class="_advertise_banner_content">
              <div class="_advertise_sub_content">
                <h3>save up to 30% off</h3>
                <h4>women<span>fashion</span></h4>
                <div class="_advertise_banner_btn">
                  <a class="btn btn-normal" href="#">
                    shop now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--collection banner end-->
  
  <!--deal banner start-->
  <section class="_deal_banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="_deal_banner_wrapper">
            <h2>
              save up to  30% to 40% off
            </h2>
            <h1>
              omg! just look at the great deals!
            </h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 ">
          <div class="_deal_banner_wrapper">
            <div class="_deal_banner_btn">
              <a href="#" class="btn-white">
                View more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--deal banner end-->